<html lang="en">
<head>
    <title>Image Server</title>
</head>
<body>
    
    <form action="/upload/files" method="POST" enctype="multipart/form-data">
        <input type="file" name="myFile" multiple />
        <button type="submit">Upload</button>
    </form>

     <h1>이미지 목록</h1>

   
</body>
</html>